{% extends 'base.html' %}

{% block title %}To-Do List | About Me Page!{% endblock %}


{% block content %}

<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>About:To Do List's App using Django-Framework(Python)</title>
 <meta name="description" content="This is a 'To Do List App' using Django-Framework(Python) developed by Abhishek Bhatnagar.">
 <meta name="keywords" content="Python, Django Framework, Dynamic Web-App, To Do List's">
</head>

<h1>the about page...</h1>
<br/>

<div>
	<p>
		<h4>This Site is Designed by me. My name is {{first_name}} {{last_name}}</h4>
		<hr>
		<br>
		I currently work for Gati KWE, head officed at Hyderabad(India).
		You can approach me through Linked In at: <a href="https://www.linkedin.com/in/abhishek-bhatnagar-python-java-ai-ml-web">Abhishek Bhatnagar</a>
		I'm an aspiring enthusiast programmer in the domains of 
		<br>
		<br>
		<ul>
			<li>Python</li> 
			<li> Oracle</li>
			<li> D2k(Forms and Reports)</li>
			<li> Java</li>
			<li> Spring Framework</li>
			<li> Angular</li>
			<li> AI and ML</li>
			<li> Data Science</li>
		</ul>
		
		I have over 10+ years of experience on Oracle Forms and Reports.
		Currently started working on dual roles of "Web-Development" using various technologies and "Oracle Forms and Reports Developer".

	</p>
</div>
{% endblock %} 

